<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.hornbaekgolf.dk" version="1.6.0">

	<name>Hornbæk Golfklub</name>
	<description>Hornbæk Golfklub</description>
	<author>Patrick Santos</author>
	<gap:platforms>
		<gap:platform name="android" />
	</gap:platforms>
	
	<icon src="img/hornbaek-icon-512-512.png" />
	<icon src="img/hornbaek-icon-ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="img/hornbaek-icon-mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="img/hornbaek-icon-hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="img/hornbaek-icon-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
	
	<!-- iPhone 6 / 6+ -->
	<icon src="img/hornbaek-icon-180-180.png" platform="ios" width="180" height="180" />

	<!-- iPhone / iPod Touch  -->
	<icon src="img/hornbaek-icon-60-60.png" platform="ios" width="60" height="60" />
	<icon src="img/hornbaek-icon-120-120.png" platform="ios" width="120" height="120" />

	<!-- iPad -->
	<icon src="img/hornbaek-icon-76-76.png" platform="ios" width="76" height="76" />
	<icon src="img/hornbaek-icon-152-152.png" platform="ios" width="152" height="152" />

	<!-- Settings Icon -->
	<icon src="img/hornbaek-icon-29-29.png" platform="ios" width="29" height="29" />
	<icon src="img/hornbaek-icon-58-58.png" platform="ios" width="58" height="58" />

	<!-- Spotlight Icon -->
	<icon src="img/hornbaek-icon-40-40.png" platform="ios" width="40" height="40" />
	<icon src="img/hornbaek-icon-80-80.png" platform="ios" width="80" height="80" />

	<icon src="img/hornbaek-icon-57-57.png" platform="ios" width="57" height="57" />
	<icon src="img/hornbaek-icon-114-114.png" platform="ios" width="114" height="114" />
	<icon src="img/hornbaek-icon-50-50.png" platform="ios" width="50" height="50" />
	<icon src="img/hornbaek-icon-100-100.png" platform="ios" width="100" height="100" />
	<icon src="img/hornbaek-icon-72-72.png" platform="ios" width="72" height="72" />
	<icon src="img/hornbaek-icon-144-144.png" platform="ios" width="144" height="144" />
	<icon src="img/hornbaek-icon-1024-1024.png" platform="ios" width="1024" height="1024" />

	<!-- Splash Screen -->
	<!-- iPhone and iPod touch -->
	<splash src="img/hornbaek-splash-320-480.png" platform="ios" width="320" height="480" /> 
	<splash src="img/hornbaek-splash-640-960.png" platform="ios" width="640" height="960" />

	<!-- iPhone 5 / iPod Touch (5th Generation) -->
	<splash src="img/hornbaek-splash-640-1136.png" platform="ios" width="640" height="1136" />

	<!-- iPhone 6 -->
	<splash src="img/hornbaek-splash-750-1334.png" platform="ios" width="750" height="1334" />
	<splash src="img/hornbaek-splash-1242-2208.png" platform="ios" width="1242" height="2208" />
	<splash src="img/hornbaek-splash-2208-1242.png" platform="ios" width="2208" height="1242" />

	<!-- iPad -->
	<splash src="img/hornbaek-splash-768-1024.png" platform="ios" width="768" height="1024" />
	<splash src="img/hornbaek-splash-1024-768.png" platform="ios" width="1024" height="768" />

	<!-- Retina iPad -->
	<splash src="img/hornbaek-splash-1536-2048.png" platform="ios" width="1536" height="2048" />
	<splash src="img/hornbaek-splash-2048-1536.png" platform="ios" width="2048" height="1536" />

	<preference name="phonegap-version" value="cli-6.5.0" />
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="false" />
	<preference name="android-windowSoftInputMode" value="stateVisible" />
	<access origin="*" subdomains="true" />
	<access uri="*" subdomains="true" />
	
	<access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
	<allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
	
	<plugin name="com.telerik.plugins.nativepagetransitions" spec="0.6.5" />
	<plugin name="cordova-plugin-inappbrowser" spec="1.5.0" />
	<plugin name="cordova-plugin-whitelist" spec="1.3.0" />
	<plugin name="cordova-plugin-network-information" spec="1.3.1" />
	
	<preference name="android-minSdkVersion" value="15" />
	
	<gap:config-file platform="android" parent="/manifest/application">
        android:windowSoftInputMode="stateVisible"
	</gap:config-file> 

</widget>